.pl-sp {
    font-size: 25px;
}
.Mitgliedschaften-sub-2 {
    padding: 30px;
}
.pl-sp-1 {
    background-color: #D2ECEE;
}
.pl-sp-2 {
    background-color: #EAD1E7;
}

.pl-sp-3 {
    margin-top: 30px;
    font-size: 18px;
}

.pl-sp-4 {
    background-color: #F3DBC2;
}